doctype html
html
    head
        meta(charset="utf-8")

        title Apple Clone
        meta(name="description" content="Apple website clone")
        meta(name="author" content="Zach Mitchell")
        meta(name="viewport" content="width=device-width, height=device-height")

        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
        link(rel="stylesheet" href="styles/css/styles.css")

    body
        header
            nav
                ul(class="mobileNav")
                    li
                        a(class="fa fa-bars")
                    li
                        a(class="fa fa-apple")
                    li
                        a(id="shoppingBag")
                ul
                    li(class="fa fa-apple")
                    li Mac
                    li iPad
                    li iPhone
                    li Watch
                    li TV
                    li Music
                    li Support
                    li
                        a(id="searchIcon")
                    li
                        a(id="shoppingBag")

        section(id="transparentWrap")
        
        section(id="slideContainer")
            section(id="sliderWrap")
                div(class="slideOne")
                    div(class="titleWrap")
                        span(class="editionButton") Special Edition
                        h1(class="subtitle") iPhone 7
                        h2(class="title") Now in 
                            div(class="productPNG")
                    div(class="iphoneWrapper")

                div(class="slideTwo")
                    div(class="titleWrap")
                        div(class="logo")
                        h1(class="watchTitle") Live a better day.
                    div(class="watchWrap")

                div(class="slideThree")
                    div(class="titleWrap")
                        h1 iPad
                        h2 Flat-out fun.
                    div(class="ipadWrap")

                div(class="slideFour")
                    div(class="titleWrap")
                        span(class="editionButton") Special Edition
                        h1(class="subtitle") iPhone 7
                        h2(class="title") Now in 
                            div(class="productPNG")
                    div(class="iphoneWrapper")

        section(id="quadImageBar")
            div(class="container-fluid")
                div(class="row")
                    div(id="quad1" class="quadImages col-md-3 col-sm-6")
                        
                    div(id="quad2" class="quadImages col-md-3 col-sm-6")
                        
                    div(id="quad3" class="quadImages col-md-3 col-sm-6")
                        
                    div(id="quad4" class="quadImages col-md-3 col-sm-6")
                        

        footer
            div(class="container")
                div(class="row")
                    div(class="col-sm-12") Shop and Learn
                    div(class="col-md-2 col-md-offset-1")
                        ul
                            li Shop and Learn
                            li Mac
                            li iPad
                            li iPhone
                            li Watch
                            li TV
                            li Music
                            li iTunes
                            li iPod
                            li Accessories
                            li Gift Cards
                    div(class="col-sm-12") Apple Store
                    div(class="col-md-2")
                        ul
                            li Apple Store
                            li Find a Store
                            li Genius Bar
                            li Workshops and Learning
                            li Youth Programs
                            li Apple Store App
                            li Refurbished and Clearance
                            li Financing
                            li Reuse and Recycling
                            li Order Status
                            li Shopping Help
                    div(class="col-sm-12") For Education
                    div(class="col-sm-12") For Business
                    div(class="col-md-2")
                        ul
                            li For Education
                            li Apple and Education
                            li Shop for College
                        ul
                            li For Business
                            li Apple and Business
                            li Shop for Business
                    div(class="col-sm-12") Account
                    div(class="col-sm-12") Apple Values
                    div(class="col-md-2")
                        ul
                            li Account
                            li Manage Your Apple ID
                            li Apple Store Account
                            li iCloud.com
                        ul
                            li Apple Values
                            li Accessibility
                            li Education
                            li Environment
                            li Inclusion and Diversity
                            li Privacy
                            li Supplier Responsibility
                    div(class="col-sm-12") About Apple
                    div(class="col-md-2")
                        ul
                            li About Apple
                            li Apple Info
                            li Newsroom
                            li Job Opportunities
                            li Press Info
                            li Investors
                            li Events
                            li Contact Apple
            
            div(class="container")
                div(class="row")
                    div(class="footerWrap col-md-10 col-md-offset-1")

                        p More ways to shop: Visit an #[a Apple Store], call 1-800-MY-APPLE, or #[a find a reseller].

                        div(id="footerLegal")
                            div(class="copyright col-md-4")
                                p Copyright © 2017 Apple Inc. All rights reserved.

                            div(class="legalLinks col-md-6")
                                a(href="#") Privacy Policy
                                a(href="#") Terms of Use
                                a(href="#") Sales and Refunds
                                a(href="#") legal
                                a(href="#") Site Map
                                
                            div(class="footerLocal col-md-2")
                                span(id="flagPNG")
                                a United States

        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js")
        script(type="text/javascript" src="js/scripts.js")
                            



